<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>修改密码</title>
</head>
<body>
<h1>修改密码</h1>
<form action="#" th:action="@{http://39.108.138.143:8082/user/resetPassword}" method="post">
    <!--/*@thymesVar id="email" type="String"*/-->
    <input name="email" th:value="${email}" hidden/>
    <input name="token" th:value="${token}" hidden/>
    新密码：<input name="password" required="required" pattern="^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{6,16}$" title="请输入6-16位字母数字组合" type="text" />
    <input type="submit" value="提交"/>
</form>
</body>
</html>